.loading {
    font-weight: 300;
    font-size: 11px;
    line-height: 11px;
    font-family: 'monospace';
    display: inline-block;
}

.powered-by {
    font-size: 9px;
    font-family: 'monospace';
    opacity: 0.5;
    padding: 2px 0;
}

.owm {
    display: flex;
    color: #fff;
    text-align: center;

    .current {
        width: 180px;
        padding: 20px;
        box-sizing: border-box;
        background: #8bc1d9;

        label {
            font-size: 28px;
        }

        .temp {
            font-size: 40px;
        }

        .weather {
            font-size: 60px;
            margin: 20px 0;
        }

        .humidity {
            display: flex;
            font-size: 24px;
            margin: 4px 0;
            .wi {
                margin-right: 5px;
            }
        }

        .pressure {
            display: flex;
            font-size: 24px;
            margin: 8px 0;
            .wi {
                margin-right: 5px;
            }
        }
    }

}
