.powered-by {
    font-size: 9px;
    font-family: 'monospace';
    opacity: 0.5;
    padding: 2px 0;
}

.yquotes {
    display: flex;
    background: #123962;
    color: #fff;
    padding: 30px;
    overflow: hidden;
}
