:host {

    --padding: 20px;
    --border-radius: 0;
    --border-color: rgb(38, 38, 38);
    --background-color: rgb(38, 38, 38);

    --symbol-name-font-size: 1rem;
    --symbol-name-color: #f8bf1e;

    --symbol-value-font-size: 2.25rem;
    --symbol-value-color: #fff;

    --symbol-percent-color: #aaa;
    --symbol-percent-font-size: 1.25rem;
    --symbol-percent-up: rgb(0, 217, 100);
    --symbol-percent-down: rgb(255, 0, 0);

    --symbol-loading-font-size: 1rem;
    --symbol-loading-color: #dadbdf;

    .size-default {
        box-sizing: border-box;
        padding: var(--padding);
        background: var(--background-color);
        border-radius: var(--border-radius);
        border: 1px solid transparent;
        border-color: var(--border-color);

        .loader {
            font-family: inherit;
            font-weight: 500;
            color: var(--symbol-loading-color);
            font-size: var(--symbol-loading-font-size);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .quote {
            .symbol {
                font-weight: 400;
                margin-right: 10px;
                white-space: nowrap;
                margin-bottom: 10px;
                color: var(--symbol-name-color);
                font-size: var(--symbol-name-font-size);
            }

            .bid {
                font-weight: 500;
                font-size: var(--symbol-value-font-size);
                color: var(--symbol-value-color);
            }

            .change {
                font-weight: 400;
                margin-top: 10px;
                color: var(--symbol-percent-color);
                font-size: var(--symbol-percent-font-size);

                &.up {
                    color: var(--symbol-percent-up);
                }

                &.down {
                    color: var(--symbol-percent-down);;
                }
            }
        }

        .graph {
            margin-top: 20px;
            position: relative;
            width: 200px;
            height: 50px;
        }
    }

}
